@model ZeroWaste.Models.Instituicoes

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Instituicoes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroPessoasAbrangidas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroPessoasAbrangidas)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IDInstituicoes" />
        <a href="#myModal" class="trigger-btn" data-toggle="modal">
            <input type="submit" value="ELIMINAR" class="btn btn-danger" />
        </a>
        <a asp-action="Index" class="btn btn-default">Voltar à lista de Famílias</a>
    </form>
    <!-- CONFIRMAÇÃO DO ELIMINAR -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Tem a certeza que quer eliminar a instituição <b>@Html.DisplayFor(model => model.Nome)</b>?</h2>
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IDInstituicoes" />
                        <input type="submit" class="btn btn-danger" value="ELIMINAR" />
                        <button type="button" class="btn btn-info" data-dismiss="modal">CANCELAR</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
