@model IEnumerable<ZeroWaste.Models.Regras>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agregado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alimentos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agregado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alimentos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegrasID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RegrasID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegrasID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
