@model ZeroWaste.Models.Familias

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Familias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rendimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rendimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroPessoasAgregado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroPessoasAgregado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDFamilias">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
