@model IEnumerable<ZeroWaste.Models.Familias>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rendimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPessoasAgregado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPessoasAgregado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDFamilias">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDFamilias">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDFamilias">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
